@(appPath: String)

<script src="@routes.Assets.versioned({appPath + "/app.js"})" type="text/javascript"></script>
<script src="@routes.Assets.versioned({appPath + "/lookUp/lookUp.js"})" type="text/javascript"></script>
<script src="@routes.Assets.versioned({appPath + "/shared/ngComponents/common/navBar.js"})" type="text/javascript"></script>
<script src="@routes.Assets.versioned({appPath + "/shared/ngComponents/common/banner.js"})" type="text/javascript"></script>
<script src="@routes.Assets.versioned({appPath + "/ngTemplates.js"})" type="text/javascript""></script>
